:root {
	--azul_claro: #01B6E3;
	--azul_oscuro: #033D5E;
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}	
	        

.container-header-hcu {
	background: var(--azul_claro);
}

.container-header-hcu { padding-top: 10px; padding-bottom: 10px; }
.container-header-hcu .foto img { background: white; }
.container-header-hcu .foto, .container-header-hcu .info { float: left; }
.container-header-hcu .info { padding-left: 15px; }
.container-header-hcu .info a {color:white;}

.container-menu-hcu { background: var(--azul_oscuro); }
.container-menu-hcu .navbar-hcu { background: var(--azul_oscuro); }
.container-menu-hcu a { color: white; }
